:root {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: calc(15px + 0.390625vw);
	line-height: 2;

	--grayCool-1: #fcfcfd;
	--grayCool-2: #f9f9fb;
	--grayCool-3: #eff1f5;
	--grayCool-4: #dcdfea;
	--grayCool-5: #b9c0d4;
	--grayCool-6: #7d89b0;
	--grayCool-7: #5d6b98;
	--grayCool-8: #4a5578;
	--grayCool-9: #404968;
	--grayCool-10: #30374f;
	--grayCool-11: #111322;

	background-color: var(--grayCool-3);
	color: var(--grayCool-11);
}

/* HEADER */
header {
	background-color: var(--grayCool-4);
	border-bottom: 2.5px solid var(--grayCool-10);
	display: grid;
	font-style: italic;
	grid-template-columns: auto 1fr auto auto !important;
	position: sticky;
	top: 0;
	z-index: 1;
}

header > a {
	display: inherit;
	width: 50px;
}

@media (min-width: 768px) {
	header > h1 {
		font-size: larger;
	}
}

@media (min-width: 900px) {
	header > h1 {
		font-size: xx-large;
	}
}

/* DETAILS */
details {
	background-color: var(--grayCool-4);
	border: 2.5px solid var(--grayCool-8);
	border-radius: 5px;
	color: var(--grayCool-10);
	padding: 0 1rem;
	position: relative;
	transition: background-color 0.15s;
}

details > :last-child {
	margin-bottom: 1rem;
}

details::before {
	border-radius: inherit;
	box-shadow: 0 0.25em 0.5rem var(--grayCool-10);
	content: "";
	height: 100%;
	left: 0;
	opacity: 0.15;
	pointer-events: none;
	position: absolute;
	top: 0;
	transition: opacity 0.2s;
	width: 100%;
	z-index: -1;
}

details[open] {
	background-color: var(--grayCool-2);
}

details[open]::before {
	opacity: 0.6;
}

details[open] > summary {
	border-bottom: 2.5px var(--grayCool-8) solid;
}

summary {
	cursor: pointer;
	display: block;
	font-weight: bold;
	padding: 1rem 2rem 1rem 0;
	position: relative;
}

summary::before,
summary::after {
	background-color: currentColor;
	content: "";
	height: 2px;
	position: absolute;
	right: 0;
	text-align: right;
	top: 50%;
	transform: translateY(-50%);
	transition: transform 0.2s ease-in-out;
	width: 0.75rem;
}

summary::after {
	transform: translateY(-50%) rotate(90deg);
}

details[open] summary::after {
	transform: translateY(-50%) rotate(180deg);
}

summary::-webkit-details-marker {
	display: none;
}

/* FRAMEWORKS LOGOS */
frameworks-logos > input {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: fixed;
	white-space: nowrap;
	width: 1px;
}

